<h1>Your Text Analysis</h1>

<h2>Number of Words: <%= @at.count_of_words %></h2>

<h2>Vowels: <%= @at.count_of_vowels %></h2>

<h2>Consonants: <%= @at.count_of_consonants %></h2>

<% mul_hash = @at.most_used_letter %>
<% mul = mul_hash.keys.first.upcase %>
<% mulc = mul_hash.values.first %>

<h2>Most Common Letter: <%= mul %>, used <%= mulc %> times</h2>
